{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Search</h1>
    
    {% if recommendation %}
        <ul>
            {% for entry in recommendation %}
                <li><a href="{% url 'entry' title=entry %}">{{ entry }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
      <div class="alert alert-danger mx-3" role="alert">
        This page does not exist, Try a different name!
      </div>
    {% endif %}
    
{% endblock %}